@import './animations.scss';

$font-family-base: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
$color-text: #ffffff;
$color-background: #0A0D14;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family-base;
}

body {
  font-family: $font-family-base;
  line-height: 1.6;
  color: $color-text;
  background-color: $color-background;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  padding-top: 68px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
}
